<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conferencia.My.MySettings.pgConnectionString" connectionString="Host=db-conferencia.coa49vnnhx5t.us-east-1.rds.amazonaws.com;Database=postgres;Username=macochave;SSL Mode=Require;TrustServerCertificate=True"
            providerName="Npgsql" />
        <add name="Conferencia.My.MySettings.db_conn" connectionString="Host=db-conferencia.coa49vnnhx5t.us-east-1.rds.amazonaws.com;Database=db_conf;Username=macochave;Password=Soy.tu.amo;SSL Mode=Require;TrustServerCertificate=True"
            providerName="Npgsql" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>